body {
	margin: 0;
	padding: 0;
}

#chess{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 800px;
	border: 35px solid #b89569;

}

.cell {
	width: 100px;
	height: 100px;
	font-size: 75px;
	text-align: center;

}

.cell.light {
	background: #ffffff;
}

.cell.dark {
	background: #deb887;
}

.cell:hover {
	background-color: #e0f1c8;
}

.cell.active {
	background-color: #6ede4c;
}
