body {
	margin: 0;
	padding: 0;
}

#board {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 800px;
	border: 35px solid #b89569;

}

.cell {
	width: 100px;
	height: 100px;
}

.cell.light {
	background: #ffffff;
}

.cell.dark {
	background: #deb887;
}

.cell:hover {
	background-color: #e0f1c8;
}
